.modalTitle {
	border: none;
	outline: none;
	border-color: #ff9a2e;
	font-size: 30px;
	padding-left: 20px;
}
.title-divider {
	margin: 0 auto 10px;
	width: 80%;
}
.modalTitle:focus {
	border: none;
	box-shadow: none;
}
.time-ctn {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 10px auto;
}
.tp {
	width: 80px;
}
.time-picker {
	display: flex;
	gap: 10px;
	align-items: center;
}
.team-ctn,
.description-ctn {
	display: flex;
	gap: 10px;
	margin: 10px auto;
}
.description-ctn {
	align-items: flex-start;
}
